#define IDI_MAINFRAME	1
#define IDI_ICON1	1
#define IDD_INSTDLG	1


#define IDC_LABEL1		120
#define IDC_EDPATH		121
#define IDC_BNBROWSE1	122

#define IDC_LABEL2		130
#define IDC_EDSYSDIR	131
#define IDC_BNBROWSE2	132

#define IDC_CBSHOWREADME	101
#define IDC_CBSHCUT	102
#define IDC_LABEL3	103
#define IDC_LBMSGS	104	
#define IDC_BNDEL	105



IDD_INSTDLG DIALOG 119, 90, 240, 200
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Установка программы WGC"
FONT 8, "MS Sans Serif"
{
 CONTROL "Установить", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 65, 58, 16
 CONTROL "Отмена", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 65, 50, 16
 CONTROL "Установить  в папку:", IDC_LABEL1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 132, 8
	CONTROL "C:\\GAMES\\WGC", IDC_EDPATH, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 16, 168, 12	
	CONTROL ">>", IDC_BNBROWSE1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 15, 50, 14
CONTROL "Копировать общие файлы в:", IDC_LABEL3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 32, 132, 8
	CONTROL "C:\\WINDOWS\\SYSTEM32", IDC_EDSYSDIR, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 45, 168, 12
	CONTROL ">>", IDC_BNBROWSE2, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 45, 50, 14
CONTROL "Удалить", IDC_BNDEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 65, 50, 16 
 CONTROL "Открыть readme.txt после установки.", IDC_CBSHOWREADME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 85, 172, 12
 CONTROL "Создать ярлык на рабочем столе", IDC_CBSHCUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 100, 156, 12
 CONTROL "", IDC_LBMSGS, "listbox", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 5, 128, 228, 80
 CONTROL "Сообщения:", IDC_LABEL2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 115, 60, 8
}

IDI_MAINFRAME ICON "/Doc/chtr/Images/wgc.ICO"

1200 RCDATA "\DOC\RELEASE\WGC.EXE"
1201 RCDATA "\DOC\RELEASE\CHDIP.DLL"
1202 RCDATA "\DOC\RELEASE\WGCENG.TXT"
1203 RCDATA "\DOC\RELEASE\WCONAPI.DLL"
1204 RCDATA "\DOC\RELEASE\WGCHOST.EXE"